<div id="footer">&copy; 2017 NodeJS Template. Developed by <a href="https://www.facebook.com/aviico2"><span>AVIICO</span></a>. All rights reserved.</div>
<style media="screen">
#footer{
  clear: both;
  padding-top: 30px;
  margin-top: 30px;
  text-align: center;
  width: 100%;
  color: #4e4e4e;
  font-size: 24px;
}

#footer a{
  color: #191919;
}
</style>
